.resultContainer {
    border: 1px solid black;
    width: 100%;
    max-width: 1000px;
    height: 40px;
}

.scanPageContainer {
    flex-direction: column;
    font-size: 20px;
    width: 50vw;
    height: 100vh;
}

.body {
    height: 100vh;
    width: 100vw; 
}

#reader {
    width: 50vw;
}


@media only screen and (max-width: 1024px) {
    .scanPageContainer {
        width: 80vw;
    }

    #reader {
        width: 80vw;
    }
}



