.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}



.scanButton {
  background-color: lightblue;
  max-width: 200px;
  width: 50%;
  height: 30px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  text-align: center;
}

html, body, #root, .App {
  height: 100%;
}